
%container {
	margin: 0 auto;
	width: 100%;
	max-width: $container-width;
}

%section {
	padding: em(50) 0;
	width: 100%;
}

%gutters {
	padding-left: em(15);
	padding-right: em(15);
}

%styled-lists {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

%user-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

%touch-action {
	-ms-touch-action: manipulation;
	touch-action: manipulation;	
}