// =====================================================
// Variables
// =====================================================

//DEFAULT FONT SIZE
$browser-context: 16;

//MEDIAS QUERIES - BREAKPOINTS RESOLUTIONS
$mq-very-small: 425px;
$mq-small: 767px;
$mq-medium-min: 768px;
$mq-medium-max: 1169px;
$mq-large: 1170px;

//TEXT COLORS

//BOX UNITS
$container-width: 1170px;